// [chenej] page-detail.sass
// -----------------------------------------------
@import "../import/import"

// Layouts
// --------------------------
.content
    +on-mobile
       padding-bottom: 5em
       padding-top: 2em
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    padding-bottom: 10em

.work-item
    +hover
        .work-img
            transform: scale(1.1)
    +on-tablet
        width: calc((100% - 2em) / 2)
    +on-mobile
        margin-right: 0
        width: 100%
    background: $color-light-gray
    border-radius: 2px
    box-shadow: 2px 2px 4px $color-shadow
    cursor: pointer
    height: 5em
    margin-bottom: 1.5em
    margin-right: 1em
    overflow: hidden
    position: relative
    width: calc((100% - 3em) / 3)

    &.is-empty
        background: $color-no-image
        position: relative

        &::after
            +position(absolute, 50% null null 50%)
            color: $color-text-secondary
            content: 'No Image'
            font-size: 1.25em
            transform: translate(-50%, -50%)

.work-img
    +size(100%)
    object-fit: cover
    transition: transform .2s

.work-mask
    +hover
        opacity: 1
    +on-tablet
        +size(100%, auto)
        opacity: 1
    +size(100%)
    +position(absolute, null null 0 0)
    background: $color-work-img-mask
    color: $color-white
    opacity: 0
    padding: .5em 1em
    transition: opacity .2s
    z-index: 100

.work-text
    +on-tablet
        position: static
    +position(absolute, null null 1em 1.25em)

.work-title
    font-size: 1.05em
    margin-bottom: .25em

.work-type
    font-size: .9em