// [chenej] page-about-me.sass
// -----------------------------------------------
@import "../import/import"

// Layouts
// --------------------------
.content
    +on-mobile
        font-size: .95em
        padding: 1em 0 3em
    padding: 0 1.5em 3em
    white-space: pre-line

.about-tw,
.about-en
    margin-bottom: 3em

.exhibition-list
    margin-bottom: 3em