// [chenej] page-contact.sass
// -----------------------------------------------
@import "../import/import"

// Layout
// --------------------------
.content
    +on-mobile
        margin-top: 3em

.mail
    +on-mobile
        margin-bottom: .5em
    color: $color-text-secondary
    font-size: .95em
    margin-bottom: 1em

.contact-item
    +hover
        color: $color-pink
    +on-mobile
        margin-left: .25em
    color: $color-text-secondary
    font-size: 1.1em
    transition: color .2s

    &:not(:last-child)
        +on-mobile
            margin-right: .5em
        margin-right: .8em