// [chenej] work-detail.sass
// -----------------------------------------------
@import "../import/import"

// Variables
// --------------------------
$box-width: 1200px


// Layouts
// --------------------------
.box-model
    +position(fixed, 0 0 0 0)
    +size(100%)
    background: $color-lightbox-mask
    z-index: $z-index--light-box

.light-box-wrap
    +on-mobile
        +size(100%)
        margin: 0
        top: 0
        transform: none
    +size(80vw, 84vh)
    margin: 0 auto
    max-width: $box-width
    position: relative
    top: 50%
    transform: translateY(-50%)

.light-box
    +on-tablet
        -webkit-overflow-scrolling: touch
        flex-direction: column
        overflow-y: auto
    +size(100%)
    background: $color-background
    border-radius: 2px
    display: flex
    flex-direction: row-reverse
    padding: 2.5em 3em

.button-close
    +hover
        color: $color-yellow
    +position(absolute, 1em 1em null null)
    +size(1.75em)
    border: 2px solid
    color: $color-pink
    cursor: pointer
    line-height: 22px
    text-align: center
    transition: color .2s

.description-part
    +on-tablet
        +size(100%, auto)
        font-size: .95em
        margin-bottom: 1.5em
        padding: 0
    +size(40%, 100%)
    padding: 0 1.5em 0 2.5em

.imgs-part
    +on-tablet
        +size(100%, auto)
        overflow: initial
    +size(60%, 100%)
    overflow: hidden

// Img part
// --------------------------
.img-container
    +on-tablet
        overflow-y: initial
        width: 100%
    +size(calc(100% + 16px), 100%) // set more 16px to hide scrollbar
    overflow-y: auto
    position: relative

.detail-img
    +size(100%, auto)
    object-fit: contain

    &:not(:last-child)
        box-shadow: 0 2px 4px $color-shadow-ligher


// Description part
// --------------------------
.box-title
    border-bottom: 1px solid
    margin-bottom: 1em
    padding-bottom: .75em

.work-title
    font-size: 1.35em
    font-weight: bold
    margin-bottom: .3em

.work-type
    background: lighten($color-text-secondary, 7.5%)
    border-radius: 2px
    color: $color-white
    display: inline-block
    font-size: .8em
    line-height: 2.1em
    padding: 0 .5em

.box-content
    &:not(:last-child)
        +on-tablet
            margin-bottom: 1.5em
        margin-bottom: 3em

.content-title
    display: inline-block
    font-size: 1.15em
    font-weight: bold
    margin-bottom: .25em
    position: relative

    &::after
        +position(absolute, 20% -.75em null null)
        +size(1px, 60%)
        background: $color-text-primary
        content: ''

.content-text
    display: block
    text-align: justify

.button-toggle-expand
    border-bottom: 1px solid
    font-size: .9em
    margin-top: 1em
    padding-bottom: .25em
    text-align: right

    .button-icon
        transition: transform .2s

        &.is-expand
            transform: rotate(180deg)