<template>
<div class="content">
    <div id="particles-js"></div>
</div>
</template>

<script>
import 'particles.js'
import particleOption from '@/assets/particles.json'

export default {
    name: 'PageHome',
    data () {
        return {
            
        }
    },
    mounted() {
        this.initParticles();
    },
    methods: {
        initParticles() {
            window.particlesJS("particles-js", particleOption);
        }
    }
}
</script>

<style lang="sass">
@import "../styles/views/page-home.sass"
</style>