<template>
<div class="content">
    <div class="work-item"
        ref="imgBox"
        v-for="(item, index) in works"
        :key="index"
        :style="{height: imgHeight + 'px'}"
        :class="{'is-empty': !item.coverImg}"
        @click="focusedItemIndex = index">
        <img class="work-img"
            v-if="item.coverImg"
            :src="item.coverImg"
            :alt="item.title"
            @error="handleErrorImg(index)">
        <div class="work-mask">
            <div class="work-text">
                <div class="work-title">{{item.title}}</div>
                <div class="work-type">{{item.type}}</div>
            </div>
        </div>
    </div>
    <transition name="fade">
    <Detail
        v-if="isOpenDetail"
        :isOpen.sync="isOpenDetail"
        :title="works[focusedItemIndex].title"
        :type="works[focusedItemIndex].type"
        :imgs="works[focusedItemIndex].imgs"
        :description="works[focusedItemIndex].description"
        :credits="works[focusedItemIndex].credits"
        :links="works[focusedItemIndex].links"
        :inChargeOf="works[focusedItemIndex].inChargeOf"></Detail>
    </transition>
</div>
</template>

<script>
import Detail from '@/components/workDetail'

export default {
    name: 'PageWorks',
    components: {Detail},
    data () {
        return {
            focusedItemIndex: null,
            imgHeight: 100,
            works: [
                {
                    title: 'PChome 旅遊',
                    type: 'web design',
                    coverImg: require('../assets/works/pchome-travel/cover-img.png'),
                    description: 'PChome Online 網路家庭集團於2018年6月推出的旅遊商品網路搜尋與訂購服務，可搜尋並比較數百家航空公司航班機位及票價，即時訂票、即時開票。出國旅遊，就從 PChome 開始！',
                    credits: {
                        Design: 'TravelSkope 異域資訊' ,
                        Developer: 'TravelSkope 異域資訊',
                        Client: 'PChome 網路家庭旅行社',
                    },
                    inChargeOf: ['會員系統', '登入/註冊', '客服系統', '團體旅遊搜尋/商品內容/訂購流程', 'FAQ', 'Error Page', '前後台維護'],
                    links: ['https://pchometravel.com/'],
                    imgs: [
                        require('../assets/works/pchome-travel/pchome-travel-1.png'),
                    ],
                },
                {
                    title: 'Savvy Tickets',
                    type: 'web design',
                    coverImg: require('../assets/works/savvy-tickets/cover-img.png'),
                    description: '全球便宜機票即訂即開，台灣團隊中文服務，當一個聰明的背包客盡在SavvyTickets.com',
                    credits: {
                        Design: 'TravelSkope 異域資訊' ,
                        Developer: 'TravelSkope 異域資訊',
                    },
                    inChargeOf: ['全站改版翻新', '主視覺/風格設計', '前後台維護'],
                    links: ['https://en.savvytickets.com/tw/'],
                    imgs: [
                        require('../assets/works/savvy-tickets/savvy-tickets-1.png'),
                        require('../assets/works/savvy-tickets/savvy-tickets-2.png'),
                        require('../assets/works/savvy-tickets/savvy-tickets-3.png'),
                        require('../assets/works/savvy-tickets/savvy-tickets-4.png'),
                    ],
                },
                {
                    title: 'BUS. 等公車',
                    type: 'web design',
                    coverImg: require('../assets/works/bus/cover-img.png'),
                    description: '使用express, mongoDB, Vue 和 Vuex 以及交通部公共運輸整合資訊平台提供的 api，規劃視覺和介面並製作的 side project 「等公車」web app。<br>除了提供查詢公車路線、到站時間預估的功能，也加上了會員系統和我的最愛',
                    imgs: [
                        require('../assets/works/bus/bus-1.png'),
                        require('../assets/works/bus/bus-2.png'),
                        require('../assets/works/bus/bus-3.png'),
                    ],
                    links: ['https://blooming-castle-99264.herokuapp.com/'],
                },
                {
                    title: 'Vue Canvas',
                    type: 'web design',
                    coverImg: require('../assets/works/vue-canvas/cover-img.png'),
                    description: '使用 Vue + canvas 製作的小畫家。',
                    imgs: [
                        require('../assets/works/vue-canvas/vue-canvas-1.png'),
                        require('../assets/works/vue-canvas/vue-canvas-2.png'),
                    ],
                    links: ['https://chenej9797.github.io/vue_canvas/'],
                },
                {
                    title: 'Postit',
                    type: 'web design',
                    coverImg: require('../assets/works/postit/cover-img.png'),
                    description: '使用 Vue 製作的便利貼。',
                    imgs: [
                        require('../assets/works/postit/postit-1.png'),
                        require('../assets/works/postit/postit-2.png'),
                    ],
                    links: ['https://chenej9797.github.io/vue_postit/dist/'],
                },
                {
                    title: 'CSS Drawing',
                    type: 'web design',
                    coverImg: require('../assets/works/css-drawing/cover-img.png'),
                    description: 'Drawing with pure CSS',
                    imgs: [
                        require('../assets/works/css-drawing/css-drawing-1.png'),
                        require('../assets/works/css-drawing/css-drawing-2.png'),
                        require('../assets/works/css-drawing/css-drawing-3.png'),
                        require('../assets/works/css-drawing/css-drawing-4.png'),
                        require('../assets/works/css-drawing/css-drawing-5.png'),
                        require('../assets/works/css-drawing/css-drawing-6.png'),
                    ],
                    links: [
                        'https://chenej9797.github.io/GameBoy/',
                        'https://chenej9797.github.io/Digimon_Digivice/',
                        'https://chenej9797.github.io/video-tape/',
                        'https://chenej9797.github.io/digital_clock/',
                    ],
                },
                {
                    title: 'To-do List',
                    type: 'web design',
                    coverImg: require('../assets/works/todo-list/cover-img.png'),
                    description: '使用 Vue 製作的 To-do List。',
                    imgs: [
                        require('../assets/works/todo-list/todo-list-1.png'),
                        require('../assets/works/todo-list/todo-list-2.png'),
                    ],
                    links: [
                        'https://chenej9797.github.io/To-Do-List/',
                    ],
                },
                {
                    title: 'Weather Map',
                    type: 'web design',
                    coverImg: require('../assets/works/weather-map/cover-img.png'),
                    description: '使用中央氣象局api。',
                    imgs: [
                        require('../assets/works/weather-map/weather-map-1.png'),
                    ],
                    links: [
                        'https://chenej9797.github.io/Taiwan_weather_map/',
                    ],
                },
                {
                    title: 'Syla 璽藍茶葉',
                    type: 'corporate Identity',
                    coverImg: require('../assets/works/syla/cover-img.jpg'),
                    description: 'Syla的品牌意象描繪出一個世代的延伸，認真、熱情、文藝、信念，執著細節的用心，飽含溫度的精緻，品味藝術的餘韻，昂首理念的堅持，在日常中綻放絕美。',
                    inChargeOf: ['形象設計', '包裝設計', 'LOGO設計'],
                    imgs: [
                        require('../assets/works/syla/syla-1.jpg'),
                        require('../assets/works/syla/syla-2.jpg'),
                        require('../assets/works/syla/syla-3.jpg'),
                    ],
                },
                {
                    title: 'Art bank 藝術銀行講座主視覺',
                    type: 'visual design',
                    coverImg: require('../assets/works/art-bank/cover-img.png'),
                    description: '藝術銀行105年 Afternoon Tea 講座的主視覺，對談來賓包含沈昭良、侯俊明、龔卓軍等...藝術家及藝評人。',
                    inChargeOf: ['主視覺設計', '酷卡設計'],
                    imgs: [
                        require('../assets/works/art-bank/art-bank-1.png'),
                        require('../assets/works/art-bank/art-bank-2.png'),
                    ],
                },
                {
                    title: '北藝大師培中心學員證',
                    type: 'visual design',
                    coverImg: require('../assets/works/student-card/cover-img.png'),
                    description: '為北藝大師資培育中心106年度設計的學員證。',
                    inChargeOf: ['主視覺設計'],
                    imgs: [require('../assets/works/student-card/student-card-1.png')],
                },
                {
                    title: 'Weevils 米蟲',
                    type: 'other works',
                    coverImg: require('../assets/works/weevils/cover-img.png'),
                    description: '2017<br>雙頻道影像裝置<br>180cm * 120cm * 20cm',
                    imgs: [
                        require('../assets/works/weevils/weevils-1.png'),
                        require('../assets/works/weevils/weevils-2.png'),
                        require('../assets/works/weevils/weevils-3.png'),
                        require('../assets/works/weevils/weevils-4.png'),
                        require('../assets/works/weevils/weevils-5.png'),
                    ],
                    links: ['https://vimeo.com/228763572'],
                },
                {
                    title: 'Cyclothymia Disorder 循環性情感症',
                    type: 'other works',
                    coverImg: require('../assets/works/cyclothymia-disorder/cover-img.png'),
                    description: '2016<br>動力雕塑<br>尺寸衣空間而定',
                    imgs: [
                        require('../assets/works/cyclothymia-disorder/cyclothymia-disorder-1.png'),
                        require('../assets/works/cyclothymia-disorder/cyclothymia-disorder-2.png'),
                        require('../assets/works/cyclothymia-disorder/cyclothymia-disorder-3.png'),
                        require('../assets/works/cyclothymia-disorder/cyclothymia-disorder-4.png'),
                    ],
                    links: ['https://vimeo.com/229538146'],
                },
                {
                    title: 'Puffer Hearts 河豚心',
                    type: 'other works',
                    coverImg: require('../assets/works/puffer-heart/puffer-heart-2.png'),
                    description: '2015<br>動力機械裝置<br>50cm * 50cm * 50cm',
                    imgs: [
                        require('../assets/works/puffer-heart/puffer-heart-1.png'),
                        require('../assets/works/puffer-heart/puffer-heart-2.png'),
                        require('../assets/works/puffer-heart/puffer-heart-3.png'),
                    ],
                },
            ]
        }
    },
    methods: {
        setImgHeight() {
            this.imgHeight = this.$refs.imgBox[0].clientWidth;
        },
        handleResize() {
            this.setImgHeight();
        },
        handleErrorImg(index) {
            this.works[index].coverImg = '';
        },
    },
    computed: {
        isOpenDetail: {
            get() {
                return this.focusedItemIndex !== null;
            },
            set(newValue) {
                if(!newValue) {
                    this.focusedItemIndex = null;
                }
            },
        }
    },
    mounted() {
        this.setImgHeight();
    },
    created() {
        window.addEventListener('resize', this.handleResize);
    },
    destroyed() {
        window.removeEventListener('resize', this.handleResize);
    },
}
</script>

<style lang="sass" scoped>
@import "../styles/views/page-works.sass"
</style>