<template>
<div class="content">
    <div class="mail">ej.yichiehchen@gmail.com</div>
    <a class="contact-item"
        target="_blank"
        v-for="icon in list"
        :key="icon.id"
        :href="icon.link">
        <i :class="icon.icon"></i>
    </a>
    <a class="contact-item" href="mailto:ej.yichiehchen@gmail.com">
        <i class="far fa-envelope"></i>
    </a>
</div>
</template>

<script>
export default {
    name: 'PageContact',
    data () {
        return {
            list: [
                {
                    title: 'gitlab',
                    icon: 'fab fa-gitlab',
                    link: 'https://gitlab.com/chenej9797',
                },
                {
                    title: 'resume',
                    icon: 'fas fa-user-circle',
                    link: 'https://chenej9797.gitlab.io/portfolio/',
                },
                {
                    title: 'hackmd',
                    icon: 'fas fa-file-alt',
                    link: 'https://hackmd.io/@giyan',
                }
            ]
        }
    }
}
</script>

<style lang="sass" scoped>
@import "../styles/views/page-contact.sass"
</style>