<template>
<div class="content">
    <p class="about-tw align-justify">網頁前端工程師<br>
        2017 畢業於國立臺北藝術大學新媒體藝術學系。<br>大學時期作品主要為動力機械裝置、手繪實驗動畫以及影像裝置。利用Arduino和機械結構、影像動畫，製作多媒材結合的作品。<br>目前專注於網頁前端工程、設計與運用。<br>喜歡設計實用並且美的介面，對於新的技術與知識充滿好奇，渴望能夠不斷地進步和成長。</p>
    <p class="about-en">
        Front-end developer<br>
        I graduated from the department of New Media Arts of Taipei National University of the Arts in 2017.<br>In school my works were mainly mechanical power devices, hand-painted experimental animation and video devices.Using Arduino and mechanical structure, video animation to produce multi-media combination of works.<br><br>Currently focusing on web front-end development and design technique, I enjoy designing practical and beautiful interface, and are curious about new technologies and knowledge. I am also eager to make progress and grow continuously.</p>
    <div class="exhibition-list align-justify">
        <div class="exhibition-year" v-for="exhibition in exhibitionList" :key="exhibition.id">
            {{exhibition.year}}
            <ul class="exhibition-tw">
                <li class="exhibition-item"
                    v-for="item in exhibition.exhibitions"
                    :key="item.id">{{item.tw.title}} / {{item.tw.place}} / {{item.tw.location}}</li>
            </ul>
        </div>
    </div>
    <div class="exhibition-list">
        <div class="exhibition-year" v-for="exhibition in exhibitionList" :key="exhibition.id">
            {{exhibition.year}}
            <ul class="exhibition-en">
                <li class="exhibition-item"
                    v-for="item in exhibition.exhibitions"
                    :key="item.id">{{item.en.title}} / {{item.en.place}} / {{item.en.location}}</li>
            </ul>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'PageAboutMe',
    data () {
        return {
            exhibitionList: [
                {
                    year: '2017',
                    exhibitions: [
                        {
                            tw: {
                                title: '藝術新聲',
                                place: '大墩文化中心',
                                location: '臺中',
                            },
                            en: {
                                title: 'Young Voices',
                                place: 'Taichung City Dadun Cultural Center',
                                location: 'Taichung',
                            }
                        },
                        {
                            tw: {
                                title: '荒野獵奇',
                                place: '中正紀念堂2展廳',
                                location: '臺北',
                            },
                            en: {
                                title: 'Gazing Into The Wilderness',
                                place: 'Chiang Kai-shek Memorial Hall',
                                location: 'Taipei',
                            }
                        },
                    ]
                },
                {
                    year: '2016',
                    exhibitions: [
                        {
                            tw: {
                                title: '混種現場藝術季─視覺混種',
                                place: '花博爭豔館',
                                location: '臺北',
                            },
                            en: {
                                title: 'ON SITE ARTFEST-On Site Visual',
                                place: 'The Yuanshan Plaza of Taipei Expo Park',
                                location: 'Taipei',
                            }
                        },
                        {
                            tw: {
                                title: 'AP',
                                place: '臺北藝術大學地下美術館',
                                location: '臺北',
                            },
                            en: {
                                title: 'AP',
                                place: 'Taipei National University of the Arts',
                                location: 'Taipei',
                            }
                        },
                        {
                            tw: {
                                title: '強制出品',
                                place: '臺北藝術大學',
                                location: '臺北',
                            },
                            en: {
                                title: 'Forced Producing',
                                place: 'Taipei National University of the Arts',
                                location: 'Taipei',
                            }
                        },
                    ]
                },
            ]
        }
    }
}
</script>

<style lang="sass" scoped>
@import "../styles/views/page-about-me.sass"
</style>