<template>
<div class="box-model" @click="innerIsOpen = false">
    <div class="light-box-wrap">
        <div class="light-box" @click.stop>
            <div class="description-part">
                <div class="box-title">
                    <div class="work-title">{{title}}</div>
                    <div class="work-type">{{type}}</div>
                </div>
                <div class="box-content content-text" v-if="description" v-html="description"></div>
                <transition name="dropdown">
                <div class="expanded-content" v-if="isExpand || onDesktop">
                    <div class="box-content content-chrage-of" v-if="inChargeOf">
                        <div class="content-title">In Charge Of</div>
                        <div class="content-text">
                            <template class="content-item" v-for="(item, index) in inChargeOf">{{item + ((index === (inChargeOf.length - 1)) ? '' : '、')}}</template>
                        </div>
                    </div>
                    <div class="box-content content-credits" v-if="credits">
                        <div class="content-title">Credits</div>
                    <div class="content-text"
                            v-for="(item, title) in credits"
                            :key="item.id">{{title}} - {{item}}</div>
                    </div>
                    <div class="box-content content-website" v-if="links && links.length > 0">
                        <div class="content-title">Links</div>
                        <a class="content-text link"
                            target="_blank"
                            v-for="link in links"
                            :key="link.id"
                            :href="link">{{link}}</a>
                    </div>
                </div>
                </transition>
                <div class="button-toggle-expand"
                    v-if="isShowToggleExpand"
                    @click="isExpand = !isExpand">{{isExpand ? '顯示部分' : '顯示更多'}}
                    <i class="button-icon fas fa-angle-down" :class="{'is-expand': isExpand}"></i>
                </div>
            </div>
            <div class="imgs-part">
                <div class="img-container">
                    <img class="detail-img"
                        v-for="(img, index) in imgs"
                        :key="index"
                        :src="img"
                        :alt="title + '-' + index">
                </div>
            </div>
        </div>
        <i class="button-close fas fa-times" @click="innerIsOpen = false"></i>
    </div>
</div>
</template>

<script>
import {mediaQuery} from '@/mixins/mediaQuery.js'

export default {
    name: 'workDetail',
    mixins: [mediaQuery],
    props: {
        isOpen: {
            type: Boolean,
            default: false,
        },
        title: {
            type: String,
            default: '',
        },
        type: String,
        imgs: Array,
        description: String,
        credits: Object,
        inChargeOf: Array,
        links: Array,
    },
    data () {
        return {
            innerIsOpen: this.isOpen,
            isExpand: this.credits ? false : true,
        }
    },
    computed: {
        isShowToggleExpand() {
            return !this.onDesktop && (this.credits || this.inChargeOf || this.links);
        },
    },
    watch: {
        innerIsOpen(newValue) {
            if(this.isOpen !== this.innerIsOpen) {
                this.$emit('update:isOpen', newValue);
            }
        }
    },
}
</script>

<style lang="sass" scoped>
@import "../styles/components/work-detail.sass"
</style>