// [chenej] layout/main.sass
// -----------------------------------------------
@import "../import/import"

// Variables
// -------------------------
$page-max-width: 1200px
$nav-width: 20em
$nav-width-tablet: 15em


// Utils
// -------------------------
.align-justify
    text-align: justify


// Layout
// -------------------------
#app
    +on-mobile
        padding: 2em
    margin: 0 auto
    max-width: $page-max-width
    padding: 2.5em

.footer
    +position(fixed, null null 1.5em 50%)
    color: $color-text-secondary
    font-size: .9em
    opacity: .75
    transform: translateX(-50%)
    white-space: nowrap


// Logo
// -------------------------
.logo
    +on-mobile
        margin-bottom: 2.5em
        margin-left: 50%
        transform: translateX(-50%) scale(.9)
    +size(5em)
    border: 2px solid $color-logo
    border-radius: 2px
    cursor: pointer
    display: inline-block
    margin-bottom: 5em
    padding: .3em
    position: relative
    
    &::before
        color: $color-logo
        content: 'CHEN \A E J'
        font-size: 1.4em
        line-height: 1.5em

    &::after
        +position(absolute, null .3em .3em null)
        +triangle("down-right", .6em, .3em, $color-logo)
        content: ''


// Menu
// -------------------------
.nav
    +on-tablet
        width: $nav-width-tablet
    +on-mobile
        flex-direction: row
        justify-content: space-between
        min-width: 100%
    display: inline-flex
    flex-direction: column
    width: $nav-width

.menu-item
    +on-mobile
        font-size: 1em
        text-align: center
    +hover
        color: $color-menu-focus
    color: $color-menu
    display: inline-block
    font-size: 1.1em
    line-height: 1.4em
    position: relative
    transition: color .2s

    &::before
            +on-mobile
                +position(absolute, -.75em null null 50%)
                +triangle("down", .65em, .35em, $color-menu-focus)
                transform: translateX(calc(-50% - 3px))
            +position(absolute, .4em null null -.75em)
            +triangle("right", .3em, .65em, $color-menu-focus)
            content: ''
            opacity: 0
            transition: opacity .2s

    &.is-focus
        color: $color-menu-focus

        &::before
            opacity: 1

    &:not(:last-child)
        margin-bottom: 1.5em

.menu-item-tw
    letter-spacing: .4em

.menu-item-en
    +on-mobile
        font-size: .85em
        letter-spacing: .2em
    font-size: .8em
    letter-spacing: .15em

// Content
// -------------------------
.page-content
    +on-tablet
        width: calc(100% - #{$nav-width-tablet})
    +on-mobile
        min-width: 100%
        width: 100%
    float: right
    width: calc(100% - #{$nav-width})