<template>
	<div id="app">
		<router-link to="/" class="logo"></router-link>
		<div class="container">
			<nav class="nav">
				<router-link 
					class="menu-item"
					v-for="item in menuList"
					:key="item.id"
					:class="{'is-focus': $route.path === item.link}"
					:to="item.link">
					<div class="menu-item-tw">{{item.titleTw}}</div>
					<div class="menu-item-en">{{item.titleEn}}</div>
				</router-link>
			</nav>
			<div class="page-content">
				<transition name="fade"><router-view/></transition>
			</div>
		</div>
		<footer class="footer">Copyright © ChenEJ 2020</footer>
	</div>
</template>

<script>
export default {
  name: 'App',
  data() {
	  return {
		  menuList: [
			  {
				  titleTw: '關於我',
				  titleEn: 'about me',
				  link: '/about-me',
			  },
			  {
				  titleTw: '作品',
				  titleEn: 'works',
				  link: '/works',
			  },
			  {
				  titleTw: '聯絡資訊',
				  titleEn: 'contact',
				  link: '/contact',
			  }
		  ]
	  }
  },
}
</script>

<style lang="sass">
@import "/styles/layouts/main.sass"
</style>
