// [chenej] main.sass
// -----------------------------------------------
@import "variables"
@import "mixins"

::-webkit-scrollbar
    width: 10px

::-webkit-scrollbar-track
	background: lighten($color-light-gray, 5%)
    border-radius: 10px

::-webkit-scrollbar-thumb
	background: $color-opacity-light-pink
    border-radius: 10px

html
	color: $color-text-primary
	font-family: 'Noto Sans TC', '微軟正黑體', 'Lato', Helvetica, Arial, Verdana, sans-serif
	font-size: 14px
	letter-spacing: .08em
	line-height: 1.75em
	overflow-y: overlay // to prevent scroll-bar from adding-up to the width of page on Chrome

a
    text-decoration: none

.link
	+hover
		color: darken($color-text-primary, 15%)
	color: $color-text-primary
	font-size: .9em
	transition: color .2s

p
	margin: 0

ul
	list-style-type: none
	margin: 0
	padding: 0