// [chenej] transitions.sass
// -----------------------------------------------
// fade
// --------------------------
.fade-enter-active,
.fade-leave-active
    transition-property: opacity
    transition-duration: .15s

.fade-enter-active
    transition-delay: .15s

.fade-enter,
.fade-leave-active
    opacity: 0


// Dropdwon
// ---------------------------
.dropdown-enter-active,
.dropdown-leave-active
	transition: transform .2s, opacity .2s
	transform-origin: top

.dropdown-enter, .dropdown-leave-to
	opacity: 0
	transform: scaleY(0)




